* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 1vmin;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: #bbb;
  font-family: sans-serif;
  font-weight: bold;
}

#simonMain {
  height: 95rem;
  width: 95rem;
  margin: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  position: relative;
  justify-content: space-around;
  background-color: #181818;
  border-radius: 100%;
  box-shadow: 0 0 2rem black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btnSeq {
  display: flex;
  box-sizing: border-box;
  border: 2rem solid #181818;
  width: 50%;
  height: 50%;
  background-color: antiquewhite;
  opacity: 0.80;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 10rem;
  text-shadow: 0 0 1px grey;
  cursor: default;
}

#red {
  background-color: #FF0A0A;
  color: #f30a0a;
  border-radius: 0 100% 0 0;
}

#green {
  background-color: #00E800;
  color: #00dd00;
  border-radius: 100% 0 0 0;
}

#blue {
  background-color: #3BB9FF;
  color: #3badf2;
  border-radius: 0 0 100% 0;
}

#yellow {
  background-color: #FFD300;
  color: #f3c700;
  border-radius: 0 0 0 100%;
}